.link{
    text-decoration: none;
    color: #282828;
    font-size: 20px
}
.content{
    line-height: 30px;
    letter-spacing: .5px;
}
.title{
    width: 450px;
    text-align: center;
}
@media (max-width:500px){
    .title{
        width:100%;
        font-size: 10px;
    }
}
.see{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
.footer-text{
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.footer{
    background-color: #000000;
    padding: 20px;
}